.mn-rr-placementWrapper * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mn-rr-placementWrapper a:hover {
  text-decoration: none;
}

.mn-rr-placementWrapper {
  padding: 20px 0;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.mn-rr-placementWrapper,
#rr-placement {
  width: 100%;
}

#rr-placement a {
  color: black;
}

.rr-copy-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.rr-copy-wrapper>* {
  flex-grow: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}

.rr-title {
  font: 5vw/1.5em GalanoGrotesque-Semibold,Arial,'Helvetica Neue',Helvetica,sans-serif;
  font-size: 1.8em;
  line-height: 1em;
  flex-grow: 0;
  text-align: center;
  color: #000;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  padding: 0 3%;
  text-transform: uppercase;
}

.rr-copy {
  font-size: 14px;
  letter-spacing: 0;
}

.rr-hl {
  height: 1px;
  background: black;
}

.mn-rr-placementWrapper img {
  margin-bottom: 10px;
}

.rr-name {
  font: 13.5px "GalanoGrotesque-Regular", Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}

.rr-price {
  font: 13.5px "GalanoGrotesque-Regular", Arial, Helvetica, sans-serif;
}

.rr-price:not(:last-child) {
	margin-bottom: 0;
}

.rr-price.wasPrice {
    text-decoration: line-through;
}

.rr-price.nowPrice {
    color: #ff0041;
    font-size: 16px;
    margin: 5px 0;
}

.product_image_container {
	position: relative;
}

.mn-rr-placementWrapper .owl-prev {
  left: 0;
  background: url("https://images2.drct2u.com/repo/AWL/desktop/pages/homepage/standard/2019/week-42/02-images/chevron-grey-left-v1.png") no-repeat left !important;
}

.mn-rr-placementWrapper .owl-next {
  right: 0;
  background: url("https://images2.drct2u.com/repo/AWL/desktop/pages/homepage/standard/2019/week-42/02-images/chevron-grey-right-v1.png") no-repeat right !important;
}

.mn-rr-placementWrapper .owl-prev,
.mn-rr-placementWrapper .owl-next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 80px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-size: contain !important;
}

.mn-rr-placementWrapper .owl-prev::before{
  
  display: none;
}
.mn-rr-placementWrapper .owl-next::before{
    display: none;
}

@media only screen and (min-width: 768px) {
  #rr-placement {
    padding: 0 40px;
  }
  .mn-rr-placementWrapper {
    padding: 25px 0;
  }
  .rr-name,
  .rr-price {
    font-size: 14.25px;
  }
}

@media only screen and (min-width: 1200px) {
  .mn-rr-placementWrapper {
    padding: 0px 0 20px;
  }
  .mn-rr-placementWrapper .owl-next {
      right: 10px;
  }
  .mn-rr-placementWrapper .owl-prev {
      left: 10px;
  }    
}
